
html {
  font-size: var(--font-size-laptop);
  color: var(--text-initial-color);
}
body {
  overflow: hidden;
}
.container {
  background-color: hsl(42,60%,90%);
  border-radius: 0 0 30px 30px;
  overflow-y: auto;
}

/*viewport */
.viewport {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  max-height: 100vh;
}

.menu {
  padding: 2.2rem 4rem 3rem;
  font-size: 1rem;
}
.menu button:nth-child(1) {
  --button-default-background:white;
  --button-default-color:var(--purple);
}
.menu button:nth-child(2) {
  --button-default-background:var(--purple);
  --button-default-color:white;
}


/*--==== dashboard====-- */

.dashboard-panel {
  display: grid;
  grid-template-columns: minmax(300px,max-content) 600px;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.dashboard-info p {
  margin-top: 1em;
}
.dashboard-group-badge {
  display: inline-flex;
  flex-direction: column;
  vertical-align: bottom;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: .7em;
}
.dashboard-group-badge .badge {
  margin-top: .15em;
  line-height: initial;
}
.dashboard-group-badge .badge:nth-child(1) {
  background-color: hsl(42, 100%, 70%);
  color: inherit;
}
.dashboard-group-badge .badge:nth-child(2) {
  background-color: var(--purple);
  color: white;
}
.dashboard-one-form {
  display: inline-flex;
  width: 100%;
  padding: 6px;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
}
.dashboard-one-form input {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  font-size: .9em;
  border: 0;
  background: transparent;
}
.dashboard-one-form button {
  --button-default-color:var(--white);
  --button-default-background: var(--purple);
  width: auto;
}


.dashboard-image {
  text-align: center;
}

.dashboard-image img {
  display: inline-block;
  border-width: 0 14px 8px 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.308);
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
  transform-origin: center center;
  transform: perspective(2000px) rotateY(-50deg) rotateX(25deg) rotateZ(-8deg);
  width: 100%;
}

/* menu de secciones */
.menu-section-container {
  background-color: white;
  font-size: .9em;
}
.menu-section {
  width: 100%;
  justify-content: space-evenly;
  /* transition: all .4s;3 */
}
.menu-section-title {
  transition: height .4s;
}
.menu-section .menu-section-title {
  /* display: none; */
  height: 0;
}
.menu-section:hover .menu-section-title{
  /* display: block; */
  height: calc(1em + .2em);
}


/* --== HOME - PROFILE==-- */

.profile-panel {
  display: grid;
  grid-template-columns: minmax(400px,500px) minmax(400px,600px);
  justify-content: center;
}
.home-profile-title {
  font-size: var(--font-title-panel);
}
.profile-panel .text-panel {
  margin-bottom: 1em;
}

/*--== CALENDAR ==--*/
.calendar-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

/* --== ANALITYCS ==-- */

.analitycs-panel {
  display: grid;
  grid-template-columns: minmax(400px,600px) minmax(400px,500px);
  justify-content: center;
  align-items: center;
}
.analitycs-panel-info {
  order: 2;
}

/* --== COMMENTS ==-- */

.comments-panel {
  margin-right:10em ;
  margin-left:10em ;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 1fr ;
  justify-content: center;
  grid-gap: 2em;
}
.comments-panel .comment {
  text-align: justify;
}
.comments-panel .comment p{
  margin: .5em 0;
}


/* --== FOLDERS PANEL ==-- */
.folder-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right:10em;
  margin-left:10em;
  /* margin-bottom: 4em; */
  align-items: center;
}
.folder-panel-info {
  order: 2;
}
.folder-panel-info .title-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.folder-panel .list-features {
  margin-top: 1em;
}
.title-big-panel {
  font-size: 3em;
  line-height: initial;
}
.folder-panel-image {
  text-align: center;
}